<div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-road fa-1x"></i>
                <h2 class="m-xs"><%= name %></h2>

                <a href="https://www.google.com/maps/search/?api=1&query=<%= lat %>,<%= lng %>" style="color:white;">Open in Maps</a>

            </div>
        </div>
