<p id="notice"><%= notice %></p>
<h2><%= @shop.name %></h2>
<%= link_to 'Edit', edit_masteragent_agent_subagent_shop_path(@masteragent, @agent, @shop.subagent_id, @shop) %> |
<%= link_to 'Back', masteragent_agent_subagent_shops_path(@masteragent, @agent, @shop.subagent_id) %>
