<p id="notice"><%= notice %></p>
<h2><%= @subagent.name %></h2>
<%= link_to 'Edit', edit_masteragent_agent_subagent_path(@masteragent, @agent, @subagent) %> |
<%= link_to 'Back', masteragent_agent_subagents_path(@masteragent, @agent) %>
