<div class="lock-word animated fadeInDown">
    <span class="first-word">LOCKED</span><span>SCREEN</span>
</div>
<div class="middle-box text-center lockscreen animated fadeInDown">
<div>
    </div>

</div>
<div class="widget red-bg p-lg text-center">
                        <div class="m-b-md">
                            <i class="fa fa-lock fa-4x"></i>
                            <h1 class="m-xs">Access Denied</h1>
                            <h3 class="font-bold no-margins">
                                You don't have the right to access to this page
                            </h3>
                            <small>Please contact The Administrator</small>
                        </div>
                    </div>
